
.intro32 {
  font-family: IntroRegular;
  color: #242424;
  font-size: 32px;
}
.services .title {
  font-family: IntroRegular;
  color: #242424;
  font-size: 32px;
}
.bold26 {
  color: #242424;
  font-size: 26px;
  font-family: OpenSans-Bold;
}
