.text-left {
  text-align: left; }

.clear {
  clear: both;
  float: none;
  width: 100%;
  display: block; }

.navbar-fixed-top {
  backface-visibility: hidden; }

.slide2 .container:before {
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  top: -235px;
  width: 584px;
  height: 372px;
  z-index: 51;
  background: url("../images/back-camera.png") no-repeat; }

body.not-main .main:before {
  content: none;
  display: none; }

body.not-main header {
  min-height: 630px; }

body .main-ticket {
  display: none; }

body .our-projects {
  margin-right: -8px; }

body.not-main .main-ticket {
  display: block;
  padding: 0; }

body.not-main header .main-block {
  float: left; }

body.not-main .our-projects {
  margin-top: 110px;
  border: 2px solid rgba(255, 255, 255, 0.32); }

body header .main-block {
  padding-top: 70px;
  float: right;
  z-index: 80;
  position: relative; }

.slide3 {
  min-height: 1065px;
  margin-top: -280px;
  background-image: url("../images/back-slide3.jpg");
  padding-top: 400px; }

.slide2 {
  background-image: url("../images/back-slide2.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -249px;
  padding-top: 115px;
  min-height: 1033px;
  position: relative;
  z-index: 50; }

.devices-detail .item-col {
  margin-bottom: 25px; }
  .devices-detail .item-col.item-middle {
    padding: 0 !important; }

footer {
  height: 149px;
  background-color: white; }
  footer .panel {
    min-height: 90px;
    background: #1e8acd;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    position: relative;
    margin-bottom: 0 !important; }
    footer .panel .navbar-brand {
      background-image: url("../images/logotype-bot.png");
      background-repeat: no-repeat;
      width: 162px;
      height: 90px; }
    footer .panel .navbar-nav {
      float: none;
      max-width: 765px;
      padding: 0;
      margin: 0 0 0 -10px; }
  footer .navbar-toggle {
    display: none; }
  footer .navbar-brand {
    background-image: url("../images/logotype-bottom.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 219px;
    height: 104px; }
    footer .navbar-brand.bottom {
      margin-left: 0px !important; }
  footer .will-call {
    margin-top: 18px; }
    footer .will-call p.phone {
      color: #98b3bf; }
      footer .will-call p.phone b {
        font-family: GothamProBlack;
        font-size: 20px;
        color: white; }

footer .base {
  line-height: 104px;
  height: 104px; }

footer .navbar-nav > li > a {
  color: #98b3bf; }

footer .navbar-nav > li.active > a,
footer .navbar-nav > li > a:hover {
  color: white; }

footer .will-call p.ico a {
  font-size: 16px;
  color: white;
  font-family: OpenSans-Regular; }

footer .ico-phone {
  background-image: url(../images/icons/phone-white.png); }

address {
  font-size: 15px;
  color: #6f6f6f;
  font-size: 17px;
  font-family: OpenSans-Regular; }

.network {
  color: #6f6f6f;
  font-size: 17px;
  font-family: OpenSans-Regular;
  font-size: 15px;
  float: right;
  margin-right: 0;
  padding: 0;
  text-align: right; }

.network ul {
  margin-top: 35px;
  display: block;
  padding: 0; }
  .network ul li {
    float: right;
    line-height: 28px; }
    .network ul li a {
      float: right;
      margin-left: 12px;
      line-height: 28px; }

footer .will-call p.phone {
  color: #98b3bf; }

/*.sheme*/
.sheme .base {
  padding: 0 15px; }

.sheme .title-small {
  font-size: 26px;
  color: #242424;
  font-family: OpenSans-Bold;
  line-height: 110px; }

.sheme .item-col {
  float: left;
  width: 219px;
  margin-bottom: 20px; }
  .sheme .item-col p {
    color: #6f6f6f;
    font-size: 17px;
    font-family: OpenSans-Regular;
    text-align: center; }
  .sheme .item-col .image {
    height: 88px;
    text-align: center;
    position: relative; }
  .sheme .item-col .title-small {
    height: 75px;
    text-align: center;
    display: block;
    line-height: 20px;
    color: #ff6d01;
    font-size: 16px;
    font-family: OpenSans-Bold; }

.sheme .item-col:last-child .image:before {
  content: none; }

.sheme .image:before {
  content: "";
  display: block;
  right: -9%;
  top: 0;
  position: absolute;
  width: 47px;
  height: 100%;
  background: url(../images/arrow.png) no-repeat center; }

/*.sheme=======*/
/*devices-detail*/
.devices-detail {
  margin-top: 45px; }

.devices-detail .title-small {
  font-size: 16px;
  color: #000;
  font-family: OpenSans-Bold;
  min-height: 55px;
  display: block;
  text-align: center;
  padding: 0 50px; }

.devices-detail .item-col {
  padding: 0; }

.devices-detail .base {
  width: 100%;
  max-width: 350px; }

.devices-detail .image {
  border: 2px solid #efefef;
  height: 206px; }

.devices-detail .block-btn {
  margin-top: 20px; }

.devices-detail .btn {
  max-width: 160px; }

.devices-detail .btn.btn-primary {
  border: none;
  line-height: 50px;
  height: 50px; }

/*devices-detail========*/
.btn-default {
  line-height: 46px;
  height: 50px;
  text-align: center;
  background-color: white;
  border: 2px solid #65d8ff;
  font-size: 16px;
  color: #10b8f4 !important;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  float: left; }

.btn-default {
  line-height: 46px;
  height: 50px;
  text-align: center;
  background-color: white;
  border: 2px solid #65d8ff;
  font-size: 16px;
  color: #10b8f4 !important;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  float: left; }
  .btn-default:active:focus, .btn-default:active, .btn-default:hover {
    background: white !important;
    color: white;
    border-color: #65d8ff;
    box-shadow: none; }

.btn-primary {
  line-height: 46px;
  height: 50px;
  text-align: center;
  background-color: white;
  border: 2px solid #65d8ff;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 16px;
  color: white !important;
  width: 100%;
  padding: 0;
  border-radius: 10px;
  background: linear-gradient(to bottom, #66d9ff 0%, #24c1f6 100%);
  float: right;
  color: white; }
  .btn-primary:active:focus, .btn-primary:active, .btn-primary:hover {
    background: #1fc0f5 !important;
    color: white;
    border-color: #1fc0f5;
    box-shadow: none; }

.btn-primary.active {
  background: #1fc0f5 !important;
  color: white;
  border-color: #1fc0f5; }

/*.devices*/
.devices {
  font-size: 26px;
  color: #242424;
  font-family: OpenSans-Bold; }

.devices p {
  color: #6f6f6f;
  font-size: 17px;
  font-family: OpenSans-Regular; }

.devices label {
  font-size: 26px;
  color: #242424;
  font-family: OpenSans-Bold;
  font-size: 16px; }

.devices {
  position: relative; }

.devices ul {
  padding: 0;
  margin: 0; }

.devices li {
  color: #6f6f6f;
  font-size: 17px;
  padding-left: 26px;
  font-family: OpenSans-Regular;
  padding-bottom: 10px;
  background-image: url("../images/icons/check.png");
  background-position: left 6px;
  background-repeat: no-repeat; }

.devices .title-small {
  line-height: 100px;
  font-size: 26px;
  color: #242424;
  font-family: OpenSans-Bold; }

.devices .image {
  float: right;
  display: block; }

/*.devices=======*/
/*.suggestions*/
.suggestions {
  margin-bottom: 60px; }
  .suggestions .title {
    font-size: 32px;
    font-family: IntroRegular;
    line-height: 120px;
    color: white; }
  .suggestions .item-col {
    border: 2px solid #57d0f8;
    height: 82px;
    line-height: 78px;
    margin-bottom: -1px;
    margin-right: -1px; }
    .suggestions .item-col:hover {
      background-color: white;
      border-color: white;
      color: #1fc0f5; }
      .suggestions .item-col:hover a {
        background-image: url("../images/icons/pdf-white.png");
        background-repeat: no-repeat;
        color: #242424; }
    .suggestions .item-col .item {
      height: 82px; }
    .suggestions .item-col .div-table-cell {
      padding-left: 82px;
      display: block;
      line-height: 20px;
      text-align: left;
      background-image: url("../images/icons/pdf.png");
      background-position: 29px center;
      background-repeat: no-repeat; }
    .suggestions .item-col a {
      font-size: 16px;
      font-family: OpenSans-Regular;
      color: #fff;
      transition: 0.5s ease; }

/*.suggestions=========*/
.call-back .title {
  font-size: 32px;
  font-family: IntroRegular;
  color: white; }

.call-back p {
  color: white;
  text-align: center;
  line-height: 50px;
  display: block;
  margin-top: -10px; }

.call-back .text-empty {
  background-color: transparent;
  background-image: url("../images/text-empty.png");
  background-repeat: repeat;
  border: none;
  border-radius: 10px;
  line-height: 50px;
  height: 50px;
  max-width: 256px;
  padding-left: 22px;
  color: white;
  font-size: 16px;
  font-family: OpenSans-Regular;
  width: 100%;
  display: block; }
  .call-back .text-empty::place-holder {
    color: white; }
  .call-back .text-empty::-webkit-input-placeholder {
    color: white; }
  .call-back .text-empty::-moz-placeholder {
    color: white; }
  .call-back .text-empty:-ms-input-placeholder {
    color: white; }
  .call-back .text-empty.error {
    color: #dc2b18;
    border: none;
    background: white; }
    .call-back .text-empty.error::place-holder {
      color: #dc2b18; }
    .call-back .text-empty.error::-webkit-input-placeholder {
      color: #dc2b18; }
    .call-back .text-empty.error::-moz-placeholder {
      color: #dc2b18; }
    .call-back .text-empty.error:-ms-input-placeholder {
      color: #dc2b18; }

.call-back button {
  background-color: transparent;
  line-height: 46px;
  height: 50px;
  font-size: 16px;
  color: white;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  width: 100%;
  transition: 0.5s ease;
  border: 2px solid white;
  border-radius: 10px;
  max-width: 255px; }

.call-back button:active,
.call-back button:hover {
  background-color: white;
  border-color: white;
  color: #1fc0f5; }

.text-empty::place-holder {
  color: white; }

.text-empty::-webkit-input-placeholder {
  color: white; }

.text-empty::-moz-placeholder {
  color: white; }

.text-empty:-ms-input-placeholder {
  color: white; }

.text-empty.error {
  color: #f24e22; }

.text-empty.error::place-holder {
  color: #f24e22; }

/*.our-services*/
.our-services {
  padding-top: 134px; }
  .our-services .content {
    z-index: 150; }
  .our-services .item-col {
    height: 170px;
    position: relative;
    margin-left: -1px;
    padding: 0;
    min-width: 190px;
    max-width: 190px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
    transition: 0.5s ease; }
    .our-services .item-col a {
      display: block; }
      .our-services .item-col a .inner {
        height: 150px;
        border: 2px solid #efefef; }
      .our-services .item-col a .content {
        z-index: 35; }
      .our-services .item-col a .image {
        padding: 30px 0 0 15px;
        height: 70px; }
      .our-services .item-col a .image-hover {
        display: block;
        position: absolute;
        left: -191px;
        top: 0;
        width: 191px;
        height: 170px;
        z-index: 30;
        transition: 0.5s ease; }
  .our-services p {
    color: #242424;
    font-size: 16px;
    font-family: OpenSans-Regular;
    padding-left: 15px; }
  .our-services .item-col.active p {
    color: white; }
  .our-services .item-col.active .image-hover,
  .our-services .item-col:hover .image-hover {
    display: block;
    left: 0; }
  .our-services .item-col.active .content {
    z-index: 150 !important; }
  .our-services .item-col.active .image-hover {
    z-index: 30 !important; }
  .our-services .base .item-col:hover p {
    color: white; }
  .our-services .base .item-col:hover .content {
    z-index: 40; }

/*.our-services=======*/
/*grid-description*/
.grid-description {
  margin-top: 60px; }
  .grid-description .image {
    height: 96px;
    padding-top: 25px; }
  .grid-description .item-col {
    border: none;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    min-height: 175px; }
  .grid-description p {
    color: #6f6f6f;
    font-size: 17px;
    font-family: OpenSans-Regular; }
  .grid-description .item-col:nth-child(7),
  .grid-description .item-col:nth-child(8),
  .grid-description .item-col:nth-child(9) {
    border-bottom: none; }
  .grid-description .item-col:nth-child(3n+3) {
    padding-right: 0;
    border-right: none; }
  .grid-description .item-col:nth-child(3n+1) {
    padding-left: 0; }

.grid-description.two-row .item-col:nth-child(4),
.grid-description.two-row .item-col:nth-child(5),
.grid-description.two-row .item-col:nth-child(6) {
  border-bottom: none; }

.grid-description.two-row .item-col:nth-child(3n+3) {
  padding-right: 0; }

.grid-description.two-row .item-col:nth-child(3n+1) {
  padding-left: 0; }

.side {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #efefef; }
  .side li {
    border-right: 2px solid #efefef;
    border-left: 2px solid #efefef;
    color: #242424;
    font-size: 16px;
    font-family: OpenSans-Regular;
    text-align: center;
    line-height: 45px; }
  .side li.active-hover {
    color: white; }
  .side .absent {
    background-image: url("../images/icons/ico-absent.png");
    background-repeat: no-repeat;
    background-position: center; }
  .side .present {
    background-image: url("../images/icons/ico-present.png");
    background-repeat: no-repeat;
    background-position: center; }

/*grid-description======*/
.broadcast .title {
  line-height: 70px;
  margin-bottom: 19px; }

.broadcast .title-small.empty {
  background: transparent;
  font-size: 0;
  border: none; }

.broadcast .title-small {
  background-color: #1fc0f5;
  color: white !important;
  font-family: IntroRegular;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block; }

.broadcast .block-btn {
  text-align: right;
  margin-top: 30px; }
  .broadcast .block-btn .btn {
    max-width: 350px;
    color: white !important;
    text-transform: uppercase;
    padding: 0;
    line-height: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, #66d9ff 0%, #24c1f6 100%); }

.broadcast .item-col {
  padding: 0; }

.broadcast .item-col .base {
  width: 160px;
  float: right;
  margin-left: 15px; }

.broadcast li {
  height: 47px;
  transition: 0.5s ease; }

.broadcast li.price {
  color: #1fc0f5;
  font-size: 20px;
  font-family: OpenSans-Bold; }

.broadcast .character {
  padding: 0; }
  .broadcast .character li {
    padding-left: 15px; }
    .broadcast .character li p {
      height: 47px;
      border-bottom: 2px solid #efefef;
      line-height: 45px;
      color: #6f6f6f;
      font-size: 16px;
      font-family: OpenSans-Regular; }

.broadcast li.active-hover {
  background-color: #1fc0f5; }
  .broadcast li.active-hover p {
    color: #6f6f6f;
    font-size: 16px;
    font-family: OpenSans-Regular;
    color: white;
    border-color: transparent; }

.broadcast li.active-hover {
  border-left-color: #1fc0f5;
  border-right-color: #1fc0f5; }

.broadcast li.active-hover.price {
  color: white; }

.broadcast li.prev p {
  border-bottom-color: transparent; }

.preview-shiling-view img {
  margin-right: 60px;
  float: left; }

.preview-shiling-view .div-table {
  height: 288px; }
  .preview-shiling-view .div-table p {
    text-align: left; }

.services-list {
  margin-top: 15px; }
  .services-list .name {
    font-size: 16px;
    color: #000;
    font-family: OpenSans-Bold;
    text-align: center;
    display: block;
    line-height: 65px; }
  .services-list .image {
    margin: 0 10px;
    position: relative; }
    .services-list .image img {
      max-width: 100%; }
  .services-list .image:before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 5%;
    width: 50%;
    height: 90%;
    border: 2px solid #25c2f6; }
  .services-list .image:after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 5%;
    width: 50%;
    height: 90%;
    border: 2px solid #25c2f6; }
  .services-list ul {
    padding: 0;
    min-height: 215px; }
  .services-list ul li {
    position: relative;
    padding: 0 0 8px 21px;
    color: #6f6f6f;
    line-height: 19px;
    font-size: 16px;
    font-family: OpenSans-Regular; }
  .services-list li:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ff6d01;
    border-radius: 100%;
    display: block;
    left: 0;
    top: 7px; }
  .services-list .block-btn .btn {
    max-width: 160px; }

.nav li {
  position: relative; }
  .nav li ul.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 320px;
    background: white;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.6); }
    .nav li ul.submenu:before {
      content: "";
      display: block;
      position: absolute;
      top: -6px;
      left: 66px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white; }
    .nav li ul.submenu li {
      padding: 0 0 10px 20px; }
      .nav li ul.submenu li:before {
        content: "";
        position: absolute;
        border-radius: 100%;
        display: block;
        width: 7px;
        height: 7px;
        background-color: white;
        border: 1.5px solid #10b8f4;
        left: 0;
        top: 7px; }
    .nav li ul.submenu a {
      font-size: 15px;
      color: #919191;
      font-family: GothamProRegular;
      text-align: left !important;
      display: block;
      text-decoration: none;
      transition: 0.5s ease; }
      .nav li ul.submenu a:hover {
        color: #10b8f4; }
    .nav li ul.submenu:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: -25px;
      width: 100%;
      height: 40px;
      background: transparent; }
  .nav li:hover ul.submenu {
    display: block; }
  .nav li:hover ul.submenu li a,
  .nav li.active ul.submenu li a {
    color: #919191 !important; }
  .nav li:hover ul.submenu li:hover a,
  .nav li.active ul.submenu li:hover a {
    color: #10b8f4 !important; }

nav.fix li ul.submenu {
  top: 91px; }

.navbar-collapse {
  margin: 0 175px; }

.intro32 {
  font-family: IntroRegular;
  color: #242424;
  font-size: 32px; }

.services .title {
  font-family: IntroRegular;
  color: #242424;
  font-size: 32px; }

.bold26 {
  color: #242424;
  font-size: 26px;
  font-family: OpenSans-Bold; }

.navbar-collapse.in {
  background: #0b0b0b;
  opacity: 0.8; }

.in .nav {
  margin: 0; }
  .in .nav li a {
    line-height: 30px; }
  .in .nav li ul.submenu {
    display: none;
    position: relative;
    left: inherit;
    top: inherit;
    width: 100%;
    background: transparent;
    border-radius: 0 0 10px 10px;
    padding: 0;
    box-shadow: none; }
    .in .nav li ul.submenu:before {
      display: none; }
    .in .nav li ul.submenu li {
      padding: 0; }
      .in .nav li ul.submenu li:before {
        content: none; }
      .in .nav li ul.submenu li a {
        font-family: OpenSans-Bold;
        display: inline-block;
        font-size: 16px;
        color: #fff;
        line-height: 30px;
        text-align: center; }

.mobile .navbar-toggle {
  margin-top: 35px; }

.mobile .navbar-brand {
  width: 162px;
  height: 80px;
  margin: 10px 0 0 15px !important; }

.mobile nav p.phone b {
  color: #10b8f4; }

.mobile nav .navbar-toggle {
  margin-right: 15px; }

.mobile .services-list .image .content {
  max-width: 330px;
  margin: 0 auto;
  display: block; }

.mobile .devices .image {
  max-width: 100%; }

.mobile .devices-detail {
  padding: 0 15px; }
  .mobile .devices-detail .title-small {
    padding: 0px; }

.mobile .devices .title-small,
.mobile .suggestions {
  margin-bottom: 20px; }
  .mobile .devices .title-small .title,
  .mobile .suggestions .title {
    line-height: 120px; }

.mobile .aboutCompany .block p {
  font-size: 14px; }

.mobile .aboutCompany .block.item2 .title {
  line-height: 30px; }

.mobile .our-service .image-hover {
  display: none !important; }

.mobile .devices .title-small,
.mobile .title {
  line-height: 30px; }

.mobile .services .title {
  line-height: 82px; }

.mobile header .main-block {
  padding-top: 25px; }

.mobile header .title {
  font-size: 20px; }
  .mobile header .title span {
    font-size: 27px; }

.mobile header .video-sistem .image {
  height: 75px; }

.mobile .video-sistem .item-col {
  width: 100%; }
  .mobile .video-sistem .item-col .base {
    width: 100%;
    min-height: 0; }
    .mobile .video-sistem .item-col .base p {
      padding-bottom: 10px; }

.mobile .call-back .title {
  padding: 0 30px; }

.mobile .call-back p {
  line-height: 30px;
  padding: 0 40px;
  margin: 15px 0; }

.mobile .aboutCompany {
  padding-top: 30px; }

.mobile .navbar .container {
  padding: 0; }

.mobile nav .will-call {
  margin: 0;
  position: absolute;
  float: right;
  left: 15px;
  top: 0;
  right: 5px; }
  .mobile nav .will-call p {
    float: left;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    display: inline-block; }
    .mobile nav .will-call p:last-child {
      float: right; }
    .mobile nav .will-call p.ico {
      padding-left: 20px; }

.mobile .slide2 {
  margin-top: -170px;
  padding-top: 10px; }
  .mobile .slide2 .container:before {
    display: none; }

.mobile .slide3 {
  background: #00b7f4 url("../images/blue-corner.jpg") no-repeat center top;
  padding-bottom: 25px;
  min-height: 0;
  margin-top: 0;
  padding-top: 40px; }

.mobile .call-back .text-empty {
  margin-bottom: 15px;
  max-width: 100%; }

.mobile .call-back button {
  margin: 0 auto;
  display: block; }

.mobile footer .panel {
  padding: 0; }
  .mobile footer .panel .item-col {
    padding: 0px; }
  .mobile footer .panel .item-col-middle {
    width: auto; }
  .mobile footer .panel .container {
    padding: 0 5px; }
  .mobile footer .panel .navbar-brand {
    background-size: 100%;
    width: 130px; }
  .mobile footer .panel .will-call {
    position: absolute;
    right: 0;
    width: 170px; }
    .mobile footer .panel .will-call p.phone b {
      font-size: 17px; }
    .mobile footer .panel .will-call .ico-phone {
      padding-left: 20px; }

.mobile footer .navbar-brand {
  margin: 0 auto !important;
  display: block;
  float: none; }

.mobile footer .will-call {
  width: 180px; }
  .mobile footer .will-call p {
    font-size: 16px; }
    .mobile footer .will-call pa {
      font-size: 16px; }

.mobile footer .network {
  display: none; }

.mobile ul.nav {
  margin: 0; }

.mobile .nav li a {
  line-height: 30px; }

.mobile .nav li ul.submenu {
  display: block;
  position: relative;
  left: inherit;
  top: inherit;
  width: 100%;
  background: transparent;
  border-radius: 0 0 10px 10px;
  padding: 0;
  box-shadow: none; }
  .mobile .nav li ul.submenu:before {
    display: none; }
  .mobile .nav li ul.submenu li {
    padding: 0; }
    .mobile .nav li ul.submenu li:before {
      content: none; }
    .mobile .nav li ul.submenu li a {
      font-family: OpenSans-Bold;
      display: inline-block;
      font-size: 16px;
      color: #fff;
      line-height: 30px;
      text-align: center; }

.mobile header .container {
  padding: 0; }

.mobile .video-sistem p {
  font-size: 14px; }

.mobile.not-main header {
  min-height: 520px; }
  .mobile.not-main header .title {
    font-size: 25px !important; }
    .mobile.not-main header .title span {
      font-size: 26px !important;
      display: inline-block; }
  .mobile.not-main header .main-block {
    padding-top: 10px !important;
    float: none; }
  .mobile.not-main header .our-projects {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #51cef7; }
    .mobile.not-main header .our-projects .title-small {
      line-height: 40px;
      color: #51cef7; }
    .mobile.not-main header .our-projects p {
      color: #51cef7; }

.mobile nav.fix .navbar-nav > li > a {
  color: white; }

.mobile .sheme .image:before {
  content: none; }

.mobile .sheme .item-col {
  float: none; }

.mobile .services .container {
  padding: 0 2px; }
  .mobile .services .container .devices {
    padding: 0 15px; }

.mobile .detail {
  display: none; }

.mobile .our-projects {
  margin: 0 auto;
  float: none; }

.mobile .grid-description {
  padding: 0 15px; }

.mobile .grid-description .item-col {
  padding: 0 !important;
  border: none !important;
  border-bottom: 1px solid #efefef !important; }

@media only all and (max-width: 640px) {
  .our-services .item-col a {
    width: 190px;
    height: 170px;
    margin: 0 auto;
    display: block; }
    .our-services .item-col a .image-hover {
      display: none; }
    .our-services .item-col a .item-col:hover p {
      color: #242424; } }

.iPhone .navbar-brand {
  width: 130px;
  background-size: 100%; }

.iPad .slide2 .container:before {
  background-size: 100%;
  top: -175px;
  width: 365px; }

.iPad .organization {
  max-width: 450px; }

.iPad footer .panel {
  overflow: hidden; }
  .iPad footer .panel .container {
    padding: 0; }

.iPad footer .will-call {
  margin-right: 30px; }

.iPad header .container {
  padding: 0; }

.iPad .video-sistem p {
  font-size: 14px; }

.iPad .video-sistem .item-col .base {
  min-height: 165px; }

.iPad.not-main header {
  min-height: 520px; }
  .iPad.not-main header .title {
    font-size: 25px !important; }
    .iPad.not-main header .title span {
      font-size: 26px !important;
      display: inline-block; }
  .iPad.not-main header .main-block {
    padding-top: 10px !important;
    float: none; }
  .iPad.not-main header .our-projects {
    margin-top: 20px;
    float: none; }
    .iPad.not-main header .our-projects .title-small {
      line-height: 40px; }

.iPad .navbar-collapse.in {
  background: #0b0b0b;
  opacity: 0.8; }

.iPad nav.fix .navbar-nav > li > a {
  color: white; }

.iPad .mobile.not-main header .title {
  font-size: 20px !important; }

@media only all and (max-width: 400px) {
  .Android .grid-description {
    padding: 0 15px; } }

.detail {
  position: absolute;
  right: 323px;
  top: 0;
  width: 150px;
  height: 40px;
  display: block;
  background: url("../images/arrow1.png") no-repeat center bottom; }
  .detail a {
    color: white; }
    .detail a:hover {
      text-decoration: underline; }

/*services*/
.services {
  margin-top: -200px; }
  .services .title {
    line-height: 82px; }

/*services========*/
.mobile.orX .aboutCompany .block.item2 .title {
  line-height: 65px; }

.mobile.orX .sheme .item-col {
  float: left;
  width: 210px; }

.mobile.orX footer .item-col:last-child {
  display: none; }

.mobile.orX .broadcast .item-col {
  float: left; }

.mobile.orX .grid-description .item-col {
  width: 100%;
  border: none;
  min-height: 115px;
  border-bottom: 1px solid #efefef !important; }

.mobile.orX .devices .title-small {
  line-height: 40px;
  padding-bottom: 20px; }

.mobile.orX .services-list .block-btn .btn:first-child {
  float: left !important; }

.mobile.orX .services-list .block-btn .btn:last-child {
  float: right !important; }

.mobile.orX .services-list .name {
  font-size: 20px; }

.mobile.orX .services-list ul {
  min-height: 0; }

.mobile.orX .services-list .block-btn {
  margin: 30px 0; }

.mobile.orX .broadcast .title {
  line-height: 40px !important;
  margin: 15px 0;
  font-size: 22px; }

.mobile.orX .broadcast .content {
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
  margin: 0; }

.mobile.orX .broadcast .item-col {
  float: left; }

.mobile.orX .broadcast .item1 {
  width: 285px; }

.mobile.orX .broadcast .base-scroll {
  width: 980px; }

.mobile.orX .broadcast .block-btn {
  text-align: center; }

.mobile.orX .broadcast .block-btn .btn {
  float: none; }

.mobile.orX footer {
  padding-bottom: 15px; }

.mobile.orX footer .panel {
  padding: 0 10px; }

.mobile.orX footer .base {
  line-height: 0;
  height: auto; }

.mobile.orX .devices .title-small,
.mobile.orX .grid-description {
  margin-top: 0; }

.mobile.orX .slide2 {
  margin-top: -110px;
  padding-top: 50px;
  background: #00b7f4; }

.mobile.orX .detail {
  right: inherit;
  top: 50px;
  font-size: 0;
  left: 17px;
  width: 30px; }

.mobile.orX .aboutCompany .block .title {
  font-size: 29px;
  line-height: 40px;
  margin-bottom: 15px; }

.mobile.orX .organization {
  max-width: 470px;
  margin: 0 auto;
  margin-right: 45px; }

.mobile.orX .services {
  margin-top: 0; }

.mobile.orX .our-services {
  padding-top: 0; }

.mobile.orX .our-services .item-col {
  margin: 0 auto;
  float: none;
  margin-bottom: 20px; }

.mobile.orX .main {
  padding: 0 5px; }

.mobile .main .row {
  margin-left: -5px;
  margin-right: -5px; }

.mobile nav .navbar-brand {
  margin-left: 5px !important; }

.mobile nav .navbar-toggle {
  margin-right: 5px; }

.mobile nav .will-call {
  margin-right: 55px; }

.mobile .aboutCompany .title {
  font-size: 20px; }

.mobile .aboutCompany .block .title {
  font-size: 22px;
  line-height: 30px; }

.mobile .aboutCompany .minHeight1,
.mobile .grid-description .item-col {
  margin-left: -65px; }

.mobile .aboutCompany .minHeight1 .title {
  margin-left: 65px; }

.mobile .aboutCompany .slick-prev.slick-arrow {
  left: 0px; }

.mobile .aboutCompany .slick-next.slick-arrow {
  right: 0px; }

.mobile .organization {
  max-width: 320px;
  max-width: 240px; }

.mobile .slide2 {
  min-height: 0; }

.mobile .grid-description .item-col {
  margin-left: 0; }

.mobile .aboutCompany .slick-slide img {
  margin: 0 auto; }

.mobile .aboutCompany .base-slider {
  margin-left: -65px; }

.mobile .organization {
  margin: 0 auto;
  width: 320px;
  max-width: 100%; }

.mobile .aboutCompany .block.item2 .title {
  line-height: 65px; }

.mobile .broadcast .block-btn .btn {
  max-width: 300px; }
