
@media only all and (max-width: 1280px){
    .aboutCompany {
    	padding-left: 65px;
	}
	.slide2:before {
		left: -45px;
	}
	.organization {	
		margin: 0 35px;
		margin-top: 15px;
	}
}



@media only all and (max-width: 770px) and (min-width: 100px){
     .navbar-nav > li > a{ padding: 0 3px;}
    .nav {
        margin-left: 0;
    }
    .navbar .container {
        width: 100%;
        padding: 0;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav {
        float: none;
    }
    .icons-network a {
        margin-left: 0;
    }
    .navbar-toggle {
        display: block;
		border: 1.5px solid #16b4df;
		margin-top: 26px;
    }
	.navbar-toggle span{
		background: #16b4df;
	}
    .navbar-header { float: none; }
    .navbar-collapse.collapse {        
        overflow: hidden!important;
		height: 0;
		width: 100%;
    	margin: 0;
    }
	.navbar-nav>li {
		display: block;
		float: none;
		padding: 0;
		margin: 0;
		line-height: 0;
	}
	.navbar-nav>li>a{ line-height: 50px;}
	.will-call{ margin-right: 70px;}
	
	.navbar-inverse .navbar-toggle:focus,
	.navbar-inverse .navbar-toggle:hover {
		background-color: #16b4df;
	}
	.navbar-inverse .navbar-toggle {	
		background-color: #00bff3;
	}
	
	
}

@media only all and (max-width: 1024px){
	.navbar-nav>li>a{ padding: 0 20px;}
	header .main-block {
		padding: 70px 0 0 0;
	}
	.video-sistem .item-col {
    	width: 156px;
	}
	.slide2:before{
		background-size: 1500px;
	}
	.detail {
    	right: 309px;
	}
	.aboutCompany .icon1:before,
	.aboutCompany .icon2:before{
		left: -85px;
	}
	.aboutCompany{
		padding-top: 15px;
	}
	.aboutCompany .block .title {
		font-size: 29px;
		line-height: 70px;
	}
	.aboutCompany .minHeight1{
		min-height: 200px;
	}
	.aboutCompany .icon2:before{
		top: -23px;
	}
	.organization {
    	max-width: 740px;
	}
	.services-list .block-btn .btn {
		max-width: 135px;
	}
	.grid-description .item-col{ min-height: 200px; }
	
	.broadcast .item1{ width: 26%;}
	.broadcast .character li p{    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;}
	
	.broadcast .item2,
	.broadcast .item3,
	.broadcast .item4,
	.broadcast .item5{ margin-left: 15px;}
	
	footer .navbar-nav{ max-width: 560px;}
	footer .navbar-nav>li>a{ padding: 0 10px;}
	
}
@media only all and (max-width: 768px){
    .detail {
		right: 309px;
		top: 70px;
	}
	.slide2:before {
		background: none;
	}
	.aboutCompany .icon1:before, 
	.aboutCompany .icon2:before {
		left: -75px;
		top: -18px;
	}
	.aboutCompany .icon2:before {
		top: 0;
	}
	.organization {
		max-width: 470px;
		margin: 0 auto;
	}
	.will-call {
		margin-top: -70px;
	}
	header .title span{
		font-size: 44px;
	}
	header .main-block{
		width: 65%;
		padding-top: 30px;
	}
	.video-sistem {
		padding-top: 20px;
	}
	.our-services .base {
		max-width: 570px;
		margin: 0 auto;
	}
	.services-list .name {
		line-height: 25px;
		padding-bottom: 10px;
	}
	.services-list .image {
		margin: 0 10px 10px 10px;
		position: relative;
	}
	.services-list .name:last-child {
		min-height: 60px;
	}
	.services-list .block-btn{ text-align: center;} 
	.services-list .block-btn .btn{
		float: none!important;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	footer .navbar-nav{ display: none;}
	
	.grid-description .item-col {
		width: 50%;
	}
/*
	.grid-description .item-col:nth-child(7),
	.grid-description .item-col:nth-child(8),
	.grid-description .item-col:nth-child(9){ border-bottom: none;}
*/
	.grid-description .item-col{ border: 1px solid #efefef!important; }
	
/*
 	.grid-description .item-col:nth-child(7),
	.grid-description .item-col:nth-child(8),
	.grid-description .item-col:nth-child(9){ border-bottom: 1px solid #efefef; }
*/
	.grid-description .item-col:nth-child(1){ border-top-color: transparent!important;}
	.grid-description .item-col:nth-child(2){ border-top-color: transparent!important;}
	.grid-description .item-col:nth-child(2n+2){ padding:0 0 0 15px; border-right: none!important; }
	.grid-description .item-col:nth-child(2n+1){ padding-left: 0; border-left: none!important;}	

	.broadcast .title {
		line-height: 40px;
		margin: 15px 0;
	}

	.broadcast .item1{ width: 25%;}
	.broadcast .item-col .base{ width: 120px;}
	.broadcast .title-small{ font-size: 18px;}
	footer .will-call {
		margin-top: 19px;
		margin-right: 0;
	}
	footer .navbar-brand {
		margin-left: 0!important;
	}
	footer .item-col:first-child{ width: 255px;}
	footer .item-col.item-middle{ width: 280px;}
	footer .item-col:last-child{ float: right;}
}

@media only all and (max-width: 640px){
    header .main-block {
		width: 100%;
		padding-top: 10px;
	}
	.video-sistem{ padding: 0;}
	.video-sistem .item-col{ width: 33%;}
}


@media only all and (max-width: 500px){
	.slick-next.slick-arrow{ right: 0;}
	.slick-prev.slick-arrow{ left: 0;}
}

@media only all and (max-width: 400px){  
	 .grid-description .item-col {
		width: 100%;		
		border: none;
		border-bottom: 1px solid #efefef!important;
	}   
	.devices .title-small {
		line-height: 40px;
		padding-bottom: 20px;
	}
	.services-list .block-btn .btn:first-child{
		float: left!important;		
	}
	.services-list .block-btn .btn:last-child{
		float: right!important;		
	}
	.services-list .name {
    	font-size: 20px;
	}
	.services-list ul{ min-height: 0;}
	.services-list .block-btn{ margin: 30px 0;}
	.broadcast .title {
		line-height: 40px;
		margin: 15px 0;
		font-size: 22px;
	}
	.broadcast .content{ width: 370px; position: relative; overflow: scroll;}
	.broadcast .item-col{ float: left;}
	.broadcast .item1 {
		width: 285px;
	}
	.broadcast .base-scroll{ width: 980px;}

	.broadcast .block-btn{ text-align: center;}
	.broadcast .block-btn .btn{ float: none;}
	footer{ padding-bottom: 15px;}
	footer .panel{ padding: 0 10px;}
/*	footer .item-col:last-child{ display: none;}*/
	footer .base {
		line-height: 0;
		height: auto;
	}
	.devices .title-small,
	.grid-description{ margin-top: 0;}
	
	.slide2{
		margin-top: -110px;
    	padding-top: 50px;
		background: #00b7f4;
	}
	.detail {
		right: inherit;
		top: 50px;
		font-size: 0;
		left: 17px;
		width: 30px;
	}
	.aboutCompany .block .title {
		font-size: 29px;
		line-height: 40px;
		margin-bottom: 15px;
	}
	.organization {
		max-width: 470px;
		margin: 0 auto;
		margin-right: 45px;
	}
	.services {
		margin-top: 0;
	}
	.our-services {
		padding-top: 0;
	}
	
	.our-services .item-col{
		margin: 0 auto;
		float: none;
    	margin-bottom: 20px;
	}
	
	.main{ padding: 0 5px;}
	.main .row{ 
		margin-left:-5px;
		margin-right:-5px;
	}
	nav .navbar-brand{
		margin-left: 5px!important;
	}
	nav .navbar-toggle{
		margin-right: 5px; 
	}
	nav .will-call {
		margin-right: 55px;
	}

	.aboutCompany .title{ font-size: 20px; }	
	.aboutCompany .block .title {
		font-size: 22px;
		line-height: 30px;
	}
	.aboutCompany .minHeight1, 
	.grid-description .item-col {	
		margin-left: -65px;
	}
	.aboutCompany .minHeight1 .title{ margin-left: 65px;}
	.aboutCompany .slick-prev.slick-arrow { left: 0px; }
	.aboutCompany .slick-next.slick-arrow { right: 0px; }	
	.organization {
    	max-width: 320px;
    	max-width: 240px;
	}
	.slide2{ min-height: 0; }
	.grid-description .item-col{ margin-left: 0; }
	.aboutCompany .slick-slide img{ margin: 0 auto;}
	.aboutCompany .base-slider{ margin-left: -65px;}
	.organization {
		margin: 0 auto;
		width: 320px;
		max-width: 100%;
	}
	
	.aboutCompany .block.item2 .title {    	
    	line-height: 65px;
	}
}
